{% extends "base.html" %}
{% block content %}
<div class="row mt-5">
    <script type="text/javascript">
        function move_to_simulation_page() {
            var db_name = document.getElementById("simul").value;
            window.location.href = '/simulation?db_name=' + db_name
        }

        function sortTable(table, col, reverse) {
            var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
                tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
                i;
            reverse = -((+reverse) || -1);

            tr = tr.sort(function (a, b) { // sort rows
                if (!isNaN(a.cells[col].textContent) && !isNaN(b.cells[col].textContent))
                    return reverse * ((+a.cells[col].textContent) - (+b.cells[col].textContent))
                return reverse // `-1 *` if want opposite order
                    * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                            .localeCompare(b.cells[col].textContent.trim())
                    );
            });
            for (i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
        }

        function makeSortable(table) {
            var th = table.tHead, i;
            th && (th = th.rows[0]) && (th = th.cells);
            if (th) i = th.length;
            else return; // if no `<thead>` then do nothing
            while (--i >= 0) (function (i) {
                var dir = 1;
                th[i].addEventListener('click', function () {
                    sortTable(table, i, (dir = 1 - dir))
                });
            }(i));
        }

        function makeAllSortable(parent) {
            parent = parent || document.body;
            var t = parent.getElementsByTagName('table'), i = t.length;
            while (--i >= 0) makeSortable(t[i]);
        }

        window.onload = function () {
            makeAllSortable();
        };
    </script>
    <style>
        td > a {
            text-decoration: none;
            color: black;
        }
    </style>

    <!--    <div class="col-12">-->
    <!--        <input name="simul" id="simul" list="simul_list" style="width:50%;"placeholder="알고리즘 입력">-->
    <!--        <button id="simul_btn" class="btn btn-dark" onclick="move_to_simulation_page()">선택</button>-->
    <!--        <datalist id="simul_list">-->
    <!--            {% for datname in database_list %}-->
    <!--            <option value="{{ datname }}">-->
    <!--                {% endfor %}-->
    <!--        </datalist>-->
    <!--    </div>-->
    <!--    <br><br>-->
    <div class="col-12 mb-3">
        <input class="form-control col-12 mb-3" id="myInput" type="text" placeholder="Search..">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <!--                <th scope="col">#</th>-->
                <th scope="col" data-sortable="true">알고리즘</th>
                <th scope="col" data-sortable="true">기간</th>
                <th scope="col" data-sortable="true">총 수익금</th>
                <th scope="col" data-sortable="true">투자원금</th>
                <th scope="col" data-sortable="true">승률 (Win:Lose)</th>
                <th scope="col" data-sortable="true">누적수익률</th>
                <th scope="col" data-sortable="true">MDD</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for datname in database_summary_list %}
            <tr>
                <!--                <th scope="row">{{datname.index}}</th>-->
                <td><a href="/simulation?db_name={{ datname.db_name }}">{{ datname.algorithm_name }}</a></td>
                {% if datname.summary.simul_start_date %}
                <td><a href="/simulation?db_name={{ datname.db_name }}">{{datname.summary.simul_start_date}} ~
                    {{datname.summary.created_at_utc}}</a></td>
                {% if datname.summary.sum_valuation_profit > 0 %}
                <td scope="col"><a href="/simulation?db_name={{ datname.db_name }}" style="color:#81c995">
                    {{ datname.summary.sum_valuation_profit }}
                </a></td>
                {% else %}
                <td scope="col"><a href="/simulation?db_name={{ datname.db_name }}" style="color:#f28b82">
                    {{ datname.summary.sum_valuation_profit }}
                </a></td>
                {% endif %}
                <td><a href="/simulation?db_name={{ datname.db_name }}">{{ datname.summary.first_invest_amount }}</a>
                </td>
                <td><a href="/simulation?db_name={{ datname.db_name }}">{{ datname.summary.profitcut_rate }}</a></td>
                {% if datname.summary.acc_rate > 0 %}
                <td scope="col"><a href="/simulation?db_name={{ datname.db_name }}" style="color:#81c995">
                    {{ datname.summary.acc_rate }}
                </a></td>
                {% else %}
                <td scope="col"><a href="/simulation?db_name={{ datname.db_name }}" style="color:#f28b82">
                    {{ datname.summary.acc_rate }}
                </a></td>
                {% endif %}
                <td><a href="/simulation?db_name={{ datname.db_name }}">{{ datname.summary.mdd }}</a></td>
                {% else %}
                <td><a href="/simulation?db_name={{ datname.db_name }}">잔고 데이터가 없습니다.</a></td>
                <td><a href="/simulation?db_name={{ datname.db_name }}"></a></td>
                <td><a href="/simulation?db_name={{ datname.db_name }}"></a></td>
                <td><a href="/simulation?db_name={{ datname.db_name }}"></a></td>
                <td><a href="/simulation?db_name={{ datname.db_name }}"></a></td>
                <td><a href="/simulation?db_name={{ datname.db_name }}"></a></td>
                <td><a href="/simulation?db_name={{ datname.db_name }}"></a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

</script>


{% endblock %}