{% extends "table.html" %}
{% block simulation_base %}

<div class="row mt-5">
    <div class="col-12">
        <input class="m-lg-5" name="simul" id="simul" list="simul_list" style="width:50%;" placeholder="{{ db_name }}">
        <button id="simul_btn" class="btn btn-dark" onclick="display_chart()">선택</button>
        <datalist id="simul_list">
            {% for datname in database_list %}
            <option value="{{ datname }}">
                {% endfor %}
        </datalist>
        {% if graph %}
            {{ graph|safe }}
        {% else %}
            <p>No graph was provided.</p>
        {% endif %}

    </div>

    <script type="text/javascript">
        function display_chart() {
            var db_name = document.getElementById("simul").value;
            window.location.href = '/simulation?db_name=' + db_name
            // var simul_chart = document.getElementById("simul_chart");
            // if (simul_chart.style.display === "none") {
            //     simul_chart.style.display = "block";
            // }
        }
    </script>
    <script src="/static/js/demo/chart-area-demo.js"></script>
</div>
{% endblock %}
