{% extends "base.html" %}
{% block content %}
<!-- 그래프-->
{% block simulation_base %}
{% endblock %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<style>
    th {
        cursor: pointer;
    }
</style>

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill col-12 mb-3" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">거래 내역</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">거래 종목 내역</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!-- jango 테이블 -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <input class="form-control col-12 mb-3" id="jangoInput" type="text" placeholder="Search..">
                        <table class="table col-12 " width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">날짜</th>
                                <th scope="col">수익률</th>
                                <td scope="col">누적 수익률</td>
                                <th scope="col">MDD</th>
                                <th scope="col">비트코인 누적 수익률</th>
                                <th scope="col">비트코인 MDD</th>
                                <th scope="col">평가 손익</th>
                                <th scope="col">누적 평가 손익</th>
                                <th scope="col">총 자산</th>
<!--                                <th scope="col">현재 투자한 총 금액</th>-->
<!--                                <th scope="col">누적 평가금액</th>-->
                    <!--            <th scope="col">누적 평가 손익</th>-->
                                <!--            <th scope="col">금일 익절 비용</th>-->
                                <!--            <th scope="col">금일 손절 비용</th>-->
                                <th scope="col">보유 종목수</th>
                                <th scope="col">매수 종목수</th>
                                <th scope="col">매도 종목수</th>
                                <th scope="col">재매수 종목수</th>
                                <th scope="col">매도 수익률</th>
                                <th scope="col">익절수</th>
                                <th scope="col">손절수</th>
                                <th scope="col">익절 수익률</th>
                                <th scope="col">손절 수익률</th>
                                <th scope="col">매수 중지 시간</th>
                            </tr>
                            </thead>
                            <tbody id="jangoTable">
                            {% for data in jango_data %}
                            <tr>
                                <td scope="col">{{ data.created_at_utc }}</td>
<!--                                <td scope="col">{{ data.today_earning_rate }}</td>-->
                                {% if data.today_earning_rate > 0 %}
                                <td scope="col" style="color:#81c995">{{ data.today_earning_rate }}</td>
                                {% else %}
                                <td scope="col" style="color:#f28b82">{{ data.today_earning_rate }}</td>
                                {% endif %}
                                <td scope="col">{{ data.acc_rate }}</td>
                                <td scope="col">{{ data.mdd }}</td>
                                <td scope="col">{{ data.btc_acc_rate }}</td>
                                <td scope="col">{{ data.btc_mdd }}</td>
                                {% if data.today_profit > 0 %}
                                <td scope="col" style="color:#81c995">{{ data.today_profit }}</td>
                                {% else %}
                                <td scope="col" style="color:#f28b82">{{ data.today_profit }}</td>
                                {% endif %}
                                <td scope="col">{{ data.sum_valuation_profit }}</td>
                                <td scope="col">{{ data.total_invest }}</td>
<!--                                <td scope="col">{{ data.sum_item_total_purchase }}</td>-->
<!--                                <td scope="col">{{ data.total_evaluation }}</td>-->
                                <!--            <td scope="col">{{ data.total_profit }}</td>-->
                                <!--            <td scope="col">{{ data.today_profitcut }}</td>-->
                                <!--            <td scope="col">{{ data.today_losscut }}</td>-->
                                <td scope="col">{{ data.current_possessed_count }}</td>
                                <td scope="col">{{ data.today_buy_count }}</td>
                                <td scope="col">{{ data.today_sell_count }}</td>
                                <td scope="col">{{ data.today_reinvest_count }}</td>
                                <td scope="col">{{ data.today_avg_sell_rate }}</td>
                                <td scope="col">{{ data.today_profitcut_count }}</td>
                                <td scope="col">{{ data.today_losscut_count }}</td>
                                <td scope="col">{{ data.today_avg_profitcut_rate }}</td>
                                <td scope="col">{{ data.today_avg_losscut_rate }}</td>
                                {% if data.today_buy_stop_time_kst %}
                                <td scope="col">{{ data.today_buy_stop_time_kst }}</td>
                                {% else %}
                                <td scope="col">None</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- all_item_db 테이블 -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <input class="form-control col-12 mb-3" id="daInput" type="text" placeholder="Search..">
                        <table class="table col-12 " width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">매수일</th>
                                <th scope="col">종목 코드</th>
                                <th scope="col">수익률</th>
                                <th scope="col">매도일</th>
                                <th scope="col">보유 기간 (분)</th>
                                <th scope="col">주당 매수가</th>
                                <th scope="col">주당 매도가</th>
                                <th scope="col">평가금액</th>
                                <th scope="col">손익 금액</th>
                                <th scope="col">재매수 횟수</th>
                                <!--            <th scope="col">재매수한 날짜</th>-->
                                <!--            <th scope="col">재매수가</th>-->
                                <th scope="col">익절 목표가</th>
                                <th scope="col">손절 목표가</th>
                                <th scope="col">익절률</th>
                                <th scope="col">손절률</th>
                            </tr>
                            </thead>
                            <tbody id="daTable">
                            {% for data in da_data %}
                            <tr>
                                <td scope="col">{{ data.buy_date }}</td>
                                <th scope="col">{{ data.market_code }}</th>
                                <td scope="col">{{ data.sell_rate }}</td>
                                <td scope="col">{{ data.sell_date }}</td>
                                <td scope="col">{{ data.retention_mins }}</td>
                                <td scope="col">{{ data.target_bid_price }}</td>
                                <td scope="col">{{ data.sell_price }}</td>
                                <td scope="col">{{ data.valuation_price }}</td>
                                <td scope="col">{{ data.valuation_profit }}</td>
                                <td scope="col">{{ data.reinvest_count }}</td>
                                <!--            {% if data.reinvest_date_kst %}-->
                                <!--            <td scope="col">{{ data.reinvest_date_kst }}</td>-->
                                <!--            {% else %}-->
                                <!--            <td scope="col">None</td>-->
                                <!--            {% endif %}-->
                                <!--            <td scope="col">{{ data.reinvest_purchase_price }}</td>-->
                                <td scope="col">{{ data.target_profitcut_price }}</td>
                                <td scope="col">{{ data.target_losscut_price }}</td>
                                <td scope="col">{{ data.profitcut_point }}</td>
                                <td scope="col">{{ data.losscut_point }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#jangoInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#jangoTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $("#daInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#daTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function sortTable(table, col, reverse) {
        var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
            tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
            i;
        reverse = -((+reverse) || -1);

        tr = tr.sort(function (a, b) { // sort rows
            if (!isNaN(a.cells[col].textContent) && !isNaN(b.cells[col].textContent))
                return reverse * ((+a.cells[col].textContent) - (+b.cells[col].textContent))
            return reverse // `-1 *` if want opposite order
                * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                        .localeCompare(b.cells[col].textContent.trim())
                );
        });
        for (i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
    }

    function makeSortable(table) {
        var th = table.tHead, i;
        th && (th = th.rows[0]) && (th = th.cells);
        if (th) i = th.length;
        else return; // if no `<thead>` then do nothing
        while (--i >= 0) (function (i) {
            var dir = 1;
            th[i].addEventListener('click', function () {
                sortTable(table, i, (dir = 1 - dir))
            });
        }(i));
    }

    function makeAllSortable(parent) {
        parent = parent || document.body;
        var t = parent.getElementsByTagName('table'), i = t.length;
        while (--i >= 0) makeSortable(t[i]);
    }

    window.onload = function () {
        makeAllSortable();
    };
</script>
{% endblock %}