.App {
  text-align: center;
}

body {
  front-family: 'nanumsquare';
  fontSize: '20px';
  paddingTop: '16px';
}

.white-nav {
  background: white;
  width: 100%;
  display: flex;
  color: black;
  padding: 20px;
  font-weight: 600;
  font-size: 30px;
}

.vision {
  fontSize: '30px'
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  /*.user-connection-img {*/
  /*  animation: App-logo-spin infinite 20s linear;*/
  /*}*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
